<kt-portlet>
	<kt-portlet-header [title]="formTitle">
		<ng-container ktPortletTools>
			<button (click)="cancelClick()" class="btn btn-outline-primary btn-bold ">جستجو
				<i class="fa fa-search"></i></button>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="kt-form">
			<legend class="text-bold">جهت چک و کنترول راپور رسید اجناس از این صفحه استفاده میگردد</legend>
			<form [formGroup]="itemForm">
				<div class="row">
					<div class="form-group col-md-2">
						<label>کود</label>
						<input type="text" class="form-control" formControlName="code"
							placeholder="توسط سیستم ایجاد میگردد.">
					</div>
					<div class="form-group col-md-2">
						<label>تسلیم شونده<span *ngIf="isControlHasError('stockKeeperId','required')"
								class="text-danger">*</span></label>
						<ng-select formControlName="stockKeeperId">
							<ng-option class="form-control" [value]="stockKeeper.id"
								*ngFor="let stockKeeper of stockKeepersList">
								{{stockKeeper.name}}
							</ng-option>
						</ng-select>
					</div>
					<div class="form-group col-md-2">
						<label>نوعیت رسید <span *ngIf="isControlHasError('itemReceiptTypeId','required')"
								class="text-danger">*</span></label>
						<ng-select formControlName="itemReceiptTypeId">
							<ng-option [value]="itemReceiptType.id"
								*ngFor="let itemReceiptType of itemReceiptTypesList">
								{{itemReceiptType.name}}
							</ng-option>
						</ng-select>
					</div>
					<div class="form-group col-md-2">
						<label> نمبر بل</label>
						<input class="form-control" formControlName="billNumber">
					</div>
					<div class="form-group col-md-2">
						<label> تاریخ رسید شمسی <span *ngIf="isControlHasError('receiveDateShamsi','required')"
								class="text-danger">*</span></label>
						<dp-date-picker dir="rtl" mode="day" formControlName="receiveDateShamsi" theme="dp-material"
							[config]="dateService.dateConfigShamsi" (keypress)="$event.preventDefault()"
							(onChange)="setGregorianDate($event);" #shamsiDate>
						</dp-date-picker>
					</div>

					<div class="form-group col-md-2">
						<label> تاریخ رسید میلادی <span *ngIf="isControlHasError('receiveDate','required')"
								class="text-danger">*</span></label>
						<dp-date-picker dir="rtl" mode="day" theme="dp-material"
							[config]="dateService.dateConfigGregorian" (keypress)="$event.preventDefault()"
							(onChange)="setShamsiDate($event);" formControlName="receiveDate" #date>
						</dp-date-picker>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label class="col-form-label">تشریحات</label>
						<ckeditor formControlName="description" [config]="{language:'fa'}" [editor]="Editor"></ckeditor>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<th class="font-weight-bold"> جنس</th>
									<th class="font-weight-bold">مقدار</th>
									<th class="font-weight-bold">واحد</th>
									<th class="font-weight-bold"> قیمت فی واحد</th>
									<th class="font-weight-bold">مبلغ مجموعی</th>
									<th class="font-weight-bold">تشریحات</th>

								</tr>
							</thead>
							<tbody formArrayName="itemReceiptModelDetails">
								<tr *ngFor="let _ of itemReceiptModelDetails.controls; let i=index" [formGroupName]="i">
									<td>
										<div class="input-group mb-3">
											<input type="hidden" #id formControlName="id" />
											<input type="hidden" formControlName="itemDetailId" />
											<input type="hidden" #consumable formControlName="consumable" />
											<input type="text" class="form-control" formControlName="itemDetailText"
												[class.invalid]="isDetailControlHasError('itemDetailText','required',i)">

										</div>
									</td>
									<td><input type="number" min="1" formControlName="quantity"
											[class.invalid]="isDetailControlHasError('quantity','required',i)"
											class="form-control">
									</td>
									<td>
										<ng-select formControlName="unitId"
											[class.invalid]="isDetailControlHasError('unitId','required',i)">
											<ng-option [value]="unit.id" *ngFor="let unit of unitsList">
												{{unit.name}}
											</ng-option>
										</ng-select>
									</td>
									<td><input type="number" formControlName="price" class="form-control"
											[class.invalid]="isDetailControlHasError('price','required',i)" min="1">
									</td>
									<td><input type="number" formControlName="sum" class=" form-control" min="1"></td>
									<td><textarea formControlName="description" class="form-control"
											rows="1"></textarea>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<kt-process-tracking class="pull-left"></kt-process-tracking>
						<kt-upload-file class="pull-left"></kt-upload-file>
					</div>
				</div>
			</form>
		</div>
	</kt-portlet-body>
</kt-portlet>
<ng-template ktComponentHost>
</ng-template>