<kt-portlet>
	<kt-portlet-header [title]="title">
		<ng-container ktPortletTools>
			<button (click)="back()" class="btn btn-outline-secondary">بازگشت</button>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="kt-form">
			<form [formGroup]="createForm" class="kt-form kt-form--group-seperator-dashed" (ngSubmit)="save()">
				<div class="row">
					<input type="hidden" formControlName="id">
					<div class="col-md-3 form-group">
						<label class="col-form-label">اسم صلاحیت</label>
						<input type="text" class="form-control" formControlName="name">
						<span *ngIf="isControlHasError('name','required')" class="form-text text-danger">ضروری
							میباشد</span>
					</div>
				</div>
				<div class="row text-right">
					<button class="btn btn-primary" type="submit">ثبت</button>
				</div>
			</form>
		</div>
	</kt-portlet-body>
</kt-portlet>