<div class="modal-header">
	<h4 class="modal-title" id="modal-basic-title"> انتخاب مشخصات برای جنس </h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">

	<div class="kt-form">
		<legend class="text-bold">جهت مشخص نمودن مشخصات اجناس از صفحه مذکور استفاده نمائید</legend>
		<form [formGroup]="attributeCreateForm">
			<div class="row">
				<div class="form-group col-md-12">
					<label><span *ngIf="isControlHasError('attributeList','required')"
							class="text-danger">*</span></label>
					<ng-select [multiple]="true" formControlName="attributeList">
						<ng-option class="form-control" [value]="attribute.id" *ngFor="let attribute of attributeList">
							{{attribute.name}}
						</ng-option>
					</ng-select>
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="button" (click)="saveItemAtrribute()" class="btn btn-primary btn-bold ">ثبت <i
							class="fa fa-save"></i></button>
				</div>
			</div>
		</form>
	</div>


</div>