<kt-portlet>
	<kt-portlet-header [title]="formTitle">
		<ng-container ktPortletTools>
			<button (click)="cancelClick()" class="btn btn-outline-primary btn-bold ">جستجو
				<i class="fa fa-search"></i></button>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="kt-form">
			<legend class="text-bold">جهت ثبت ریاست های جدید از گزینه های ذیل استفاده نمائید</legend>
			<form [formGroup]="organizationForm">
				<div class="kt-form__section kt-form__section--first">
					<div class="form-group kt-form__group row">
						<div class="col-md-4">
							<label class="col-form-label">ریاست/آمریت <span *ngIf="isControlHasError('name','required')"
									class="text-danger">*</span></label>
							<input type="text" formControlName="name" class="form-control">
						</div>
						<div class="col-md-4">
							<label class="col-form-label">نوعیت<span
									*ngIf="isControlHasError('orgUnitTypeId','required')"
									class="text-danger">*</span></label>
							<ng-select autocorrect="true" formControlName="orgUnitTypeId" [virtualScroll]="true"
								bindLabel="name" bindValue="id" [clearable]="false">
								<ng-option *ngFor="let orgtype of orgunittype" [value]="orgtype.id">{{orgtype.name}}
								</ng-option>
							</ng-select>
						</div>
						<div class="col-md-4">
							<label class="col-form-label">رابطه ها</label>
							<ng-select autocorrect="true" formControlName="parentId" [virtualScroll]="true"
								bindLabel="name" bindValue="id" [clearable]="false">
								<ng-option *ngFor="let org of orgunit" [value]="org.id">{{org.name}}</ng-option>
							</ng-select>
						</div>
					</div>
					<br>
				</div>
				<hr>
				<div class="row">
					<button (click)="submit()" class="btn btn-primary btn-bold ">ثبت <i class="fa fa-save"></i></button>
					<button (click)="newOrganization()" class="btn btn-primary btn-bold ">جدید <i
							class="fa fa-user"></i></button>
				</div>
			</form>
		</div>
	</kt-portlet-body>
</kt-portlet>
