 .form-group label {
//     font-size: 1rem;
     font-weight: bold;
//     margin-right: 10px;
 }
 .table thead td, .table thead th {
    font-weight: bold;
    color: #646c9a;
}
// .row {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: 0px;
//     margin-right: 0px;
// }


